In [257]:
from googleapiclient.discovery import build
import pymongo
import psycopg2
import pandas as pd
import streamlit as st

In [258]:
#API Key connection
def Api_connect():
    Api_Id="AIzaSyAcjVgviPYjTebH5GkKPOSHNFA7Xnl-2Ac"
    
    api_service_name="youtube"
    api_version="v3"

    youtube=build(api_service_name, api_version, developerKey = Api_Id)
    return youtube
youtube=Api_connect()

In [259]:
#get Channels information
# def get_channel_info(channel_id):
    
#     request = youtube.channels().list(
#                 part = "snippet,contentDetails,Statistics",
#                 id = channel_id)
            
#     response1=request.execute()

#     for i in range(0,len(response1["items"])):
#         data = dict(
#                     Channel_Name = response1["items"][i]["snippet"]["title"],
#                     Channel_ID = response1["items"][i]["id"],
#                     subscribers= response1["items"][i]["statistics"]["subscriberCount"],
#                     Views = response1["items"][i]["statistics"]["viewCount"],
#                     Total_vedio = response1["items"][i]["statistics"]["videoCount"],
#                     Channel_Description = response1["items"][i]["snippet"]["description"],
#                     Playlist_ID = response1["items"][i]["contentDetails"]["relatedPlaylists"]["uploads"],
#                     )
#         return data
    
def get_channel_info(channel_id):
    request = youtube.channels().list(
        part="snippet,contentDetails,statistics",
        id=channel_id
    )

    response = request.execute()

    if "items" in response and len(response["items"]) > 0:
        item = response["items"][0]  
        data = {
            "Channel_Name": item["snippet"]["title"],
            "Channel_ID": item["id"],
            "Subscribers": item["statistics"]["subscriberCount"],
            "Views": item["statistics"]["viewCount"],
            "Total_Videos": item["statistics"]["videoCount"],
            "Channel_Description": item["snippet"]["description"],
            "Playlist_ID": item["contentDetails"]["relatedPlaylists"]["uploads"],
        }
        return data
    else:
        return None

In [260]:
# channel_details=get_channel_info("UCduIoIMfD8tT3KoU0-zBRgQ")

In [261]:
# channel_details

In [262]:
#get video ids
def get_channel_videos(channel_id):
    video_ids = []
    # get Uploads playlist id
    res = youtube.channels().list(id=channel_id, 
                                  part='contentDetails').execute()
    playlist_id = res['items'][0]['contentDetails']['relatedPlaylists']['uploads']
    next_page_token = None
    
    while True:
        res = youtube.playlistItems().list( 
                                           part = 'snippet',
                                           playlistId = playlist_id, 
                                           maxResults = 50,
                                           pageToken = next_page_token).execute()
        
        for i in range(len(res['items'])):
            video_ids.append(res['items'][i]['snippet']['resourceId']['videoId'])
        next_page_token = res.get('nextPageToken')
        
        if next_page_token is None:
            break
    return video_ids

In [263]:
# Video_Ids=get_channel_videos("UCduIoIMfD8tT3KoU0-zBRgQ")

In [264]:
# Video_Ids

In [265]:
#get video information
def get_video_info(video_ids):

    video_data = []

    for video_id in video_ids:
        request = youtube.videos().list(
                    part="snippet,contentDetails,statistics",
                    id= video_id)
        response = request.execute()

        for item in response["items"]:
            data = dict(Channel_Name = item['snippet']['channelTitle'],
                        Channel_Id = item['snippet']['channelId'],
                        Video_Id = item['id'],
                        Title = item['snippet']['title'],
                        Tags = item['snippet'].get('tags'),
                        Thumbnail = item['snippet']['thumbnails']['default']['url'],
                        Description = item['snippet']['description'],
                        Published_Date = item['snippet']['publishedAt'],
                        Duration = item['contentDetails']['duration'],
                        Views = item['statistics']['viewCount'],
                        Likes = item['statistics'].get('likeCount'),
                        Comments = item['statistics'].get('commentCount'),
                        Favorite_Count = item['statistics']['favoriteCount'],
                        Definition = item['contentDetails']['definition'],
                        Caption_Status = item['contentDetails']['caption']
                        )
            video_data.append(data)
    return video_data

In [266]:
# video_details=get_video_info(Video_Ids)

In [267]:
# video_details

In [268]:
#get comment information
def get_comment_info(video_ids):
        Comment_Information = []
        try:
                for video_id in video_ids:

                        request = youtube.commentThreads().list(
                                part = "snippet",
                                videoId = video_id,
                                maxResults = 50
                                )
                        response5 = request.execute()
                        
                        for item in response5["items"]:
                                comment_information = dict(
                                        Comment_Id = item["snippet"]["topLevelComment"]["id"],
                                        Video_Id = item["snippet"]["videoId"],
                                        Comment_Text = item["snippet"]["topLevelComment"]["snippet"]["textOriginal"],
                                        Comment_Author = item["snippet"]["topLevelComment"]["snippet"]["authorDisplayName"],
                                        Comment_Published = item["snippet"]["topLevelComment"]["snippet"]["publishedAt"])

                                Comment_Information.append(comment_information)
        except:
                pass
                
        return Comment_Information

In [269]:
# comment_detail=get_comment_info(Video_Ids)

In [270]:
# comment_detail

In [271]:
#get playlist ids
def get_playlist_info(channel_id):
    All_data = []
    next_page_token = None
    next_page = True
    while next_page:

        request = youtube.playlists().list(
            part="snippet,contentDetails",
            channelId=channel_id,
            maxResults=50,
            pageToken=next_page_token
            )
        response = request.execute()

        for item in response['items']: 
            data={'Playlist_Id':item['id'],
                    'Title':item['snippet']['title'],
                    'Channel_Id':item['snippet']['channelId'],
                    'Channel_Name':item['snippet']['channelTitle'],
                    'PublishedAt':item['snippet']['publishedAt'],
                    'Video_Count':item['contentDetails']['itemCount']}
            All_data.append(data)
        next_page_token = response.get('nextPageToken')
        if next_page_token is None:
            next_page=False
    return All_data

In [272]:
# playlist_details= get_playlist_info("UCduIoIMfD8tT3KoU0-zBRgQ")

In [273]:
# playlist_details

In [274]:
#upload to mongoDB

client = pymongo.MongoClient("mongodb+srv://Nithya:nithya@cluster0.zgxu6ax.mongodb.net/?retryWrites=true&w=majority")
db=client['Youtube_data']

In [275]:

def channel_details(channel_id):
    ch_details = get_channel_info(channel_id)
    pl_details = get_playlist_info(channel_id)
    vi_ids = get_channel_videos(channel_id)
    vi_details = get_video_info(vi_ids)
    com_details = get_comment_info(vi_ids)

    coll1 = db["channel_details"]
    coll1.insert_one({"channel_information":ch_details,"playlist_information":pl_details,"video_information":vi_details,
                     "comment_information":com_details})
    
    return "upload completed successfully"

In [276]:
# insert = channel_details("UCduIoIMfD8tT3KoU0-zBRgQ")

In [277]:
# insert = channel_details("UCY6KjrDBN_tIRFT_QNqQbRQ")

In [278]:
mydb = psycopg2.connect(host="localhost",
        user="postgres",
        password="nithya",
        database= "youtube_data",
        port = "5432"
        )
cursor = mydb.cursor()

drop_query = "drop table if exists channels"
cursor.execute(drop_query)
mydb.commit()

try:
    create_query = '''create table if not exists channels(Channel_Name varchar(100),
                    Channel_ID varchar(80) primary key, 
                    subscribers bigint, 
                    Views bigint,
                    Total_vedio int,
                    Channel_Description text,
                    Playlist_ID varchar(50))'''
    cursor.execute(create_query)
    mydb.commit()
except:
    st.write("Channels Table alredy created")

In [279]:
ch_list = []
db = client["Youtube_data"]
coll1 = db["channel_details"]
for ch_data in coll1.find({},{"_id":0,"channel_information":1}):
    ch_list.append(ch_data["channel_information"])
df = pd.DataFrame(ch_list)

In [280]:
df

,Channel_Name,Channel_ID,subscribers,Views,Total_vedio,Channel_Description,Playlist_ID,Subscribers,Total_Videos
0,GUVI,UCduIoIMfD8tT3KoU0-zBRgQ,193000,3679671,1372,GUVI is an IIT-M & IIM-A incubated edu-tech co...,UUduIoIMfD8tT3KoU0-zBRgQ,NaN,NaN
1,Madan Gowri,UCY6KjrDBN_tIRFT_QNqQbRQ,NaN,1860335503,NaN,Common Man! MG Squad 🖖🏻,UUY6KjrDBN_tIRFT_QNqQbRQ,7240000,2601

In [281]:
for index,row in df.iterrows():
        insert_query = '''INSERT into channels(Channel_Name,
                                                    Channel_ID,
                                                    subscribers,
                                                    Views,
                                                    Total_vedio,
                                                    Channel_Description,
                                                    Playlist_ID)
                                        VALUES(%s,%s,%s,%s,%s,%s,%s)'''
            

        values =(
                row['Channel_Name'],
                row['Channel_ID'],
                row['subscribers'],
                row['Views'],
                row['Total_vedio'],
                row['Channel_Description'],
                row['Playlist_ID'])
        try:                     
            cursor.execute(insert_query,values)
            mydb.commit()    
        except:
            st.write("Channels values are already inserted")

In [282]:
print(df.columns)

Index(['Channel_Name', 'Channel_ID', 'subscribers', 'Views', 'Total_vedio',
       'Channel_Description', 'Playlist_ID', 'Subscribers', 'Total_Videos'],
      dtype='object')

In [283]:
def channels_table():
    mydb = psycopg2.connect(host="localhost",
        user="postgres",
        password="nithya",
        database= "youtube_data",
        port = "5432"
        )
    cursor = mydb.cursor()

    drop_query = "drop table if exists channels"
    cursor.execute(drop_query)
    mydb.commit()

    try:
        create_query = '''create table if not exists channels(Channel_Name varchar(100),
                        Channel_ID varchar(80) primary key, 
                        subscribers bigint, 
                        Views bigint,
                        Total_vedio int,
                        Channel_Description text,
                        Playlist_ID varchar(50))'''
        cursor.execute(create_query)
        mydb.commit()
    except:
        st.write("Channels Table alredy created")    

    ch_list = []
    db = client["Youtube_data"]
    coll1 = db["channel_details"]
    for ch_data in coll1.find({},{"_id":0,"channel_information":1}):
        ch_list.append(ch_data["channel_information"])
    df = pd.DataFrame(ch_list)

    for index,row in df.iterrows():
        insert_query = '''INSERT into channels(Channel_Name,
                                                    Channel_ID,
                                                    subscribers,
                                                    Views,
                                                    Total_vedio,
                                                    Channel_Description,
                                                    Playlist_ID)
                                        VALUES(%s,%s,%s,%s,%s,%s,%s)'''
            

        values =(
                row['Channel_Name'],
                row['Channel_ID'],
                row['subscribers'],
                row['Views'],
                row['Total_vedio'],
                row['Channel_Description'],
                row['Playlist_ID'])
    try:                     
        cursor.execute(insert_query,values)
        mydb.commit()    
    except:
        st.write("Channels values are already inserted")

In [284]:
mydb = psycopg2.connect(host="localhost",
        user="postgres",
        password="nithya",
        database= "youtube_data",
        port = "5432"
        )
cursor = mydb.cursor()

drop_query = "drop table if exists playlists"
cursor.execute(drop_query)
mydb.commit()

try:
    create_query = '''create table if not exists playlists(Playlist_Id varchar(100) primary key,
                    Title varchar(80), 
                    Channel_Id varchar(100), 
                    Channel_Name varchar(100),
                    PublishedAt timestamp,
                    Video_Count int
                    )'''
    cursor.execute(create_query)
    mydb.commit()
except:
    st.write("Playlists Table alredy created")

In [285]:
pl_list = []
db = client["Youtube_data"]
coll1 =db["channel_details"]
for pl_data in coll1.find({},{"_id":0,"playlist_information":1}):
    for i in range(len(pl_data["playlist_information"])):
            pl_list.append(pl_data["playlist_information"][i])
df1 = pd.DataFrame(pl_list)

In [286]:
df1

,Playlist_Id,Title,Channel_Id,Channel_Name,PublishedAt,Video_Count
0,PL_9uM5be2amoGVT5rqGXFRdQz6Gqu9sWN,Top 10 Tech News of the week,UCduIoIMfD8tT3KoU0-zBRgQ,GUVI,2023-12-15T10:52:09Z,2
1,PL_9uM5be2amqgdHCG_OStCR8dddQaiR__,AI For India 2.0 Webinars,UCduIoIMfD8tT3KoU0-zBRgQ,GUVI,2023-08-10T07:12:04Z,2
2,PL_9uM5be2amoedmRrYq7A6rkqL95SuPVq,AI for India 2.0,UCduIoIMfD8tT3KoU0-zBRgQ,GUVI,2023-07-20T12:46:29Z,2
3,PL_9uM5be2ampk5Vh5WN7mi-VAOjUF8qD5,Design Series | GUVI,UCduIoIMfD8tT3KoU0-zBRgQ,GUVI,2023-07-19T07:00:35Z,4
4,PL_9uM5be2amq7piq6uTztjw67PGRUi7Ug,All about HR,UCduIoIMfD8tT3KoU0-zBRgQ,GUVI,2023-07-13T11:01:20Z,12
...,...,...,...,...,...,...
146,PLeEP84ImH_Lux9xwLCDjsk1SisM5AP316,Madan Gowri Talks,UCY6KjrDBN_tIRFT_QNqQbRQ,Madan Gowri,2017-03-28T10:03:58Z,102
147,PLeEP84ImH_LsRNVOjWuDwnj_SvJaJzX3i,History | Tamil | MADAN GOWRI,UCY6KjrDBN_tIRFT_QNqQbRQ,Madan Gowri,2016-10-13T19:01:39Z,240
148,PLeEP84ImH_LucQAg7_dsRDsXrZvijCgkK,Social cause | English,UCY6KjrDBN_tIRFT_QNqQbRQ,Madan Gowri,2016-09-20T16:26:29Z,2
149,PLeEP84ImH_LuGuANs4wjBY5UkvhpuQfFQ,Tamil | Business Vlog,UCY6KjrDBN_tIRFT_QNqQbRQ,Madan Gowri,2016-09-20T16:23:02Z,65
150,PLeEP84ImH_LtBlaGKctUheYQ4IQZnNLsY,Social Awareness | Tamil,UCY6KjrDBN_tIRFT_QNqQbRQ,Madan Gowri,2016-09-20T16:03:11Z,538

In [287]:
for index,row in df1.iterrows():
        insert_query = '''INSERT into playlists(Playlist_Id,
                                                    Title,
                                                    Channel_Id,
                                                    Channel_Name,
                                                    PublishedAt,
                                                    Video_Count)
                                        VALUES(%s,%s,%s,%s,%s,%s)'''            
        values =(
                row['Playlist_Id'],
                row['Title'],
                row['Channel_Id'],
                row['Channel_Name'],
                row['PublishedAt'],
                row['Video_Count'])
                
try:                     
    cursor.execute(insert_query,values)
    mydb.commit()    
except:
    st.write("Playlists values are already inserted")

In [288]:
df1.columns

Index(['Playlist_Id', 'Title', 'Channel_Id', 'Channel_Name', 'PublishedAt',
       'Video_Count'],
      dtype='object')

In [289]:
def playlists_table():
    mydb = psycopg2.connect(host="localhost",
            user="postgres",
            password="nithya",
            database= "youtube_data",
            port = "5432"
            )
    cursor = mydb.cursor()

    drop_query = "drop table if exists playlists"
    cursor.execute(drop_query)
    mydb.commit()

    try:
        create_query = '''create table if not exists playlists(Playlist_Id varchar(100) primary key,
                        Title varchar(80), 
                        Channel_Id varchar(100), 
                        Channel_Name varchar(100),
                        PublishedAt timestamp,
                        Video_Count int
                        )'''
        cursor.execute(create_query)
        mydb.commit()
    except:
        st.write("Playlists Table alredy created")    

    pl_list = []
    db = client["Youtube_data"]
    coll1 =db["channel_details"]
    for pl_data in coll1.find({},{"_id":0,"playlist_information":1}):
        for i in range(len(pl_data["playlist_information"])):
                pl_list.append(pl_data["playlist_information"][i])
    df1 = pd.DataFrame(pl_list)
    
    for index,row in df1.iterrows():
        insert_query = '''INSERT into playlists(Playlist_Id,
                                                    Title,
                                                    Channel_Id,
                                                    Channel_Name,
                                                    PublishedAt,
                                                    Video_Count)
                                        VALUES(%s,%s,%s,%s,%s,%s)'''            
        values =(
                row['Playlist_Id'],
                row['Title'],
                row['Channel_Id'],
                row['Channel_Name'],
                row['Published_At'],
                row['Video_Count'])
                
    try:                     
        cursor.execute(insert_query,values)
        mydb.commit()    
    except:
        st.write("Playlists values are already inserted")

In [290]:
mydb = psycopg2.connect(host="localhost",
            user="postgres",
            password="nithya",
            database= "youtube_data",
            port = "5432"
            )
cursor = mydb.cursor()

drop_query = "drop table if exists videos"
cursor.execute(drop_query)
mydb.commit()

try:
    create_query = '''create table if not exists videos(
                    Channel_Name varchar(150),
                    Channel_Id varchar(100),
                    Video_Id varchar(50) primary key, 
                    Title varchar(150), 
                    Tags text,
                    Thumbnail varchar(225),
                    Description text, 
                    Published_Date timestamp,
                    Duration interval, 
                    Views bigint, 
                    Likes bigint,
                    Comments int,
                    Favorite_Count int, 
                    Definition varchar(10), 
                    Caption_Status varchar(50) 
                    )''' 
                    
    cursor.execute(create_query)             
    mydb.commit()
except:
    st.write("Videos Table alrady created")

In [291]:
vi_list = []
db = client["Youtube_data"]
coll1 = db["channel_details"]
for vi_data in coll1.find({},{"_id":0,"video_information":1}):
    for i in range(len(vi_data["video_information"])):
        vi_list.append(vi_data["video_information"][i])
df2 = pd.DataFrame(vi_list)

In [292]:
df2

,Channel_Name,Channel_Id,Video_Id,Title,Tags,Thumbnail,Description,Published_Date,Duration,Views,Likes,Comments,Favorite_Count,Definition,Caption_Status
0,GUVI,UCduIoIMfD8tT3KoU0-zBRgQ,JSkZtsJYCBs,I'm okay🥲👍| GUVI | #shortsvideo #guvi #shortsy...,"[guvi, guvi coding, guvi course, guvi course r...",https://i.ytimg.com/vi/JSkZtsJYCBs/default.jpg,#shortsfeed #shortsvideo #shortsyoutube #short...,2024-01-25T13:30:13Z,PT6S,396,13,0,0,hd,false
1,GUVI,UCduIoIMfD8tT3KoU0-zBRgQ,JSkZtsJYCBs,I'm okay🥲👍| GUVI | #shortsvideo #guvi #shortsy...,"[guvi, guvi coding, guvi course, guvi course r...",https://i.ytimg.com/vi/JSkZtsJYCBs/default.jpg,#shortsfeed #shortsvideo #shortsyoutube #short...,2024-01-25T13:30:13Z,PT6S,396,13,0,0,hd,false
2,GUVI,UCduIoIMfD8tT3KoU0-zBRgQ,JSkZtsJYCBs,I'm okay🥲👍| GUVI | #shortsvideo #guvi #shortsy...,"[guvi, guvi coding, guvi course, guvi course r...",https://i.ytimg.com/vi/JSkZtsJYCBs/default.jpg,#shortsfeed #shortsvideo #shortsyoutube #short...,2024-01-25T13:30:13Z,PT6S,396,13,0,0,hd,false
3,GUVI,UCduIoIMfD8tT3KoU0-zBRgQ,JSkZtsJYCBs,I'm okay🥲👍| GUVI | #shortsvideo #guvi #shortsy...,"[guvi, guvi coding, guvi course, guvi course r...",https://i.ytimg.com/vi/JSkZtsJYCBs/default.jpg,#shortsfeed #shortsvideo #shortsyoutube #short...,2024-01-25T13:30:13Z,PT6S,396,13,0,0,hd,false
4,GUVI,UCduIoIMfD8tT3KoU0-zBRgQ,JSkZtsJYCBs,I'm okay🥲👍| GUVI | #shortsvideo #guvi #shortsy...,"[guvi, guvi coding, guvi course, guvi course r...",https://i.ytimg.com/vi/JSkZtsJYCBs/default.jpg,#shortsfeed #shortsvideo #shortsyoutube #short...,2024-01-25T13:30:13Z,PT6S,396,13,0,0,hd,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3965,Madan Gowri,UCY6KjrDBN_tIRFT_QNqQbRQ,l7zpYUgtzxI,Jio Story | Tamil | Madan Gowri | MG,"[reliance jio, Ambani, Mukesh ambani, anil amb...",https://i.ytimg.com/vi/l7zpYUgtzxI/default.jpg,Instagram : https://www.instagram.com/madangow...,2016-09-15T15:03:53Z,PT2M36S,70076,2203,153,0,hd,false
3966,Madan Gowri,UCY6KjrDBN_tIRFT_QNqQbRQ,7lZbUPiZXbk,Jio Business explained | Tamil | Madan Gowri | MG,"[Jio, Madan Gowri, Relianace Jio, Mukesh Amban...",https://i.ytimg.com/vi/7lZbUPiZXbk/default.jpg,Instagram : https://www.instagram.com/madangow...,2016-09-04T21:55:43Z,PT8M1S,202666,7523,548,0,hd,false
3967,Madan Gowri,UCY6KjrDBN_tIRFT_QNqQbRQ,sP3A_jyZOis,Pakistan Independence day | Madan Gowri | MG,"[India, Pakistan Independence day, Pakistan, M...",https://i.ytimg.com/vi/sP3A_jyZOis/default.jpg,Instagram : https://www.instagram.com/madangow...,2016-08-14T06:04:23Z,PT2M39S,147677,5050,213,0,hd,false
3968,Madan Gowri,UCY6KjrDBN_tIRFT_QNqQbRQ,16O8N3-8gsY,Fight for her | Madan Gowri | MG,"[Swati Murder, Tamil Society, Tamil movies, Ta...",https://i.ytimg.com/vi/16O8N3-8gsY/default.jpg,Instagram : https://www.instagram.com/madangow...,2016-07-03T09:30:45Z,PT7M2S,419028,19555,1388,0,hd,false
3969,Madan Gowri,UCY6KjrDBN_tIRFT_QNqQbRQ,N3r1o_kfaXI,Madan Gowri First YouTube Video - Stop letting...,"[Relationship, misunderstanding, life, talk]",https://i.ytimg.com/vi/N3r1o_kfaXI/default.jpg,Madan Gowri's first video on YouTube.\n\nA sma...,2016-03-22T20:03:59Z,PT1M40S,1133498,77497,8933,0,hd,false

In [293]:
df2.columns

Index(['Channel_Name', 'Channel_Id', 'Video_Id', 'Title', 'Tags', 'Thumbnail',
       'Description', 'Published_Date', 'Duration', 'Views', 'Likes',
       'Comments', 'Favorite_Count', 'Definition', 'Caption_Status'],
      dtype='object')

In [294]:
for index, row in df2.iterrows():
    insert_query = '''
                INSERT INTO videos (Channel_Name,
                    Channel_Id,
                    Video_Id, 
                    Title, 
                    Tags,
                    Thumbnail,
                    Description, 
                    Published_Date,
                    Duration, 
                    Views, 
                    Likes,
                    Comments,
                    Favorite_Count, 
                    Definition, 
                    Caption_Status 
                    )
                VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

            '''
    values = (
                row['Channel_Name'],
                row['Channel_Id'],
                row['Video_Id'],
                row['Title'],
                row['Tags'],
                row['Thumbnail'],
                row['Description'],
                row['Published_Date'],
                row['Duration'],
                row['Views'],
                row['Likes'],
                row['Comments'],
                row['Favorite_Count'],
                row['Definition'],
                row['Caption_Status'])
                            
try:    
    cursor.execute(insert_query,values)
    mydb.commit()
except:
    st.write("videos values already inserted in the table")

In [295]:
def videos_table():

    mydb = psycopg2.connect(host="localhost",
                user="postgres",
                password="nithya",
                database= "youtube_data",
                port = "5432"
                )
    cursor = mydb.cursor()

    drop_query = "drop table if exists videos"
    cursor.execute(drop_query)
    mydb.commit()

    try:
        create_query = '''create table if not exists videos(
                        Channel_Name varchar(150),
                        Channel_Id varchar(100),
                        Video_Id varchar(50) primary key, 
                        Title varchar(150), 
                        Tags text,
                        Thumbnail varchar(225),
                        Description text, 
                        Published_Date timestamp,
                        Duration interval, 
                        Views bigint, 
                        Likes bigint,
                        Comments int,
                        Favorite_Count int, 
                        Definition varchar(10), 
                        Caption_Status varchar(50) 
                        )''' 
                        
        cursor.execute(create_query)             
        mydb.commit()
    except:
        st.write("Videos Table alrady created")

    vi_list = []
    db = client["Youtube_data"]
    coll1 = db["channel_details"]
    for vi_data in coll1.find({},{"_id":0,"video_information":1}):
        for i in range(len(vi_data["video_information"])):
            vi_list.append(vi_data["video_information"][i])
    df2 = pd.DataFrame(vi_list)
        
    
    for index, row in df2.iterrows():
        insert_query = '''
                    INSERT INTO videos (Channel_Name,
                        Channel_Id,
                        Video_Id, 
                        Title, 
                        Tags,
                        Thumbnail,
                        Description, 
                        Published_Date,
                        Duration, 
                        Views, 
                        Likes,
                        Comments,
                        Favorite_Count, 
                        Definition, 
                        Caption_Status 
                        )
                    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

                '''
        values = (
                    row['Channel_Name'],
                    row['Channel_Id'],
                    row['Video_Id'],
                    row['Title'],
                    row['Tags'],
                    row['Thumbnail'],
                    row['Description'],
                    row['Published_Date'],
                    row['Duration'],
                    row['Views'],
                    row['Likes'],
                    row['Comments'],
                    row['Favorite_Count'],
                    row['Definition'],
                    row['Caption_Status'])
                                
    try:    
        cursor.execute(insert_query,values)
        mydb.commit()
    except:
        st.write("videos values already inserted in the table")

In [296]:
mydb = psycopg2.connect(host="localhost",
            user="postgres",
            password="nithya",
            database= "youtube_data",
            port = "5432"
            )
cursor = mydb.cursor()

drop_query = "drop table if exists comments"
cursor.execute(drop_query)
mydb.commit()

try:
    create_query = '''CREATE TABLE if not exists comments(Comment_Id varchar(100) primary key,
                    Video_Id varchar(80),
                    Comment_Text text, 
                    Comment_Author varchar(150),
                    Comment_Published timestamp)'''
    cursor.execute(create_query)
    mydb.commit()
    
except:
    st.write("Commentsp Table already created")

In [297]:
com_list = []
db = client["Youtube_data"]
coll1 = db["channel_details"]
for com_data in coll1.find({},{"_id":0,"comment_information":1}):
    for i in range(len(com_data["comment_information"])):
        com_list.append(com_data["comment_information"][i])
df3 = pd.DataFrame(com_list)

In [298]:
df3

,Comment_Id,Video_Id,Comment_Text,Comment_Author,Comment_Published
0,UgzfrP619_nL6iFY7xV4AaABAg,V4Zpgu4ymn0,😂😂😂,@awakenworld1,2023-08-05T09:08:54Z
1,Ugz-7ZDSb46jxuDF9DJ4AaABAg,V4Zpgu4ymn0,Your have Seprate deparment of meme creators😂😂,@maheshwaran6301,2023-08-05T08:00:05Z
2,UgzfrP619_nL6iFY7xV4AaABAg,V4Zpgu4ymn0,😂😂😂,@awakenworld1,2023-08-05T09:08:54Z
3,Ugz-7ZDSb46jxuDF9DJ4AaABAg,V4Zpgu4ymn0,Your have Seprate deparment of meme creators😂😂,@maheshwaran6301,2023-08-05T08:00:05Z
4,UgzfrP619_nL6iFY7xV4AaABAg,V4Zpgu4ymn0,😂😂😂,@awakenworld1,2023-08-05T09:08:54Z
...,...,...,...,...,...
23295,Ugy-8WY688ACunxngMp4AaABAg,Bp_4-uheCD8,8:58 this place reminds me of the *Mirror* mov...,@hathijafathima2153,2023-05-02T16:04:36Z
23296,UgwjdXB0ERk_aduosl14AaABAg,Bp_4-uheCD8,Avlo periya vishayam ilaye,@starsaran25,2023-05-02T15:10:03Z
23297,UgwNdUacn9kZp7yicZ14AaABAg,Bp_4-uheCD8,All those ideas and architecture has been copi...,@mahadevan1561,2023-05-02T14:26:22Z
23298,UgyyoAn-Fyzehg7w6cV4AaABAg,Bp_4-uheCD8,Awesome\nBro!,@georgea3356,2023-05-02T13:11:35Z
23299,Ugyv-ZWEACSEOLnPEeF4AaABAg,Bp_4-uheCD8,😱😱😱😱,@haneefparnambattuking7188,2023-05-02T12:47:12Z

In [299]:
df3.columns

Index(['Comment_Id', 'Video_Id', 'Comment_Text', 'Comment_Author',
       'Comment_Published'],
      dtype='object')

In [300]:
for index, row in df3.iterrows():
        insert_query = '''
            INSERT INTO comments (Comment_Id,
                                    Video_Id ,
                                    Comment_Text,
                                    Comment_Author,
                                    Comment_Published)
            VALUES (%s, %s, %s, %s, %s)

        '''
        values = (
            row['Comment_Id'],
            row['Video_Id'],
            row['Comment_Text'],
            row['Comment_Author'],
            row['Comment_Published']
        )
try:
    cursor.execute(insert_query,values)
    mydb.commit()
except:
    st.write("This comments are already exist in comments table")

In [301]:
def comments_table():
    
    mydb = psycopg2.connect(host="localhost",
                user="postgres",
                password="nithya",
                database= "youtube_data",
                port = "5432"
                )
    cursor = mydb.cursor()

    drop_query = "drop table if exists comments"
    cursor.execute(drop_query)
    mydb.commit()

    try:
        create_query = '''CREATE TABLE if not exists comments(Comment_Id varchar(100) primary key,
                       Video_Id varchar(80),
                       Comment_Text text, 
                       Comment_Author varchar(150),
                       Comment_Published timestamp)'''
        cursor.execute(create_query)
        mydb.commit()
        
    except:
        st.write("Commentsp Table already created")

    com_list = []
    db = client["Youtube_data"]
    coll1 = db["channel_details"]
    for com_data in coll1.find({},{"_id":0,"comment_information":1}):
        for i in range(len(com_data["comment_information"])):
            com_list.append(com_data["comment_information"][i])
    df3 = pd.DataFrame(com_list)


    for index, row in df3.iterrows():
            insert_query = '''
                INSERT INTO comments (Comment_Id,
                                      Video_Id ,
                                      Comment_Text,
                                      Comment_Author,
                                      Comment_Published)
                VALUES (%s, %s, %s, %s, %s)

            '''
            values = (
                row['Comment_Id'],
                row['Video_Id'],
                row['Comment_Text'],
                row['Comment_Author'],
                row['Comment_Published']
            )
    try:
        cursor.execute(insert_query,values)
        mydb.commit()
    except:
        st.write("This comments are already exist in comments table")

In [302]:
def tables():
    channels_table()
    playlists_table()
    videos_table()
    comments_table()
    return "Tables Created successfully"

In [303]:
def show_channels_table():
    ch_list = []
    db = client["Youtube_data"]
    coll1 = db["channel_details"] 
    for ch_data in coll1.find({},{"_id":0,"channel_information":1}):
        ch_list.append(ch_data["channel_information"])
    channels_table = st.dataframe(ch_list)
    return channels_table

In [304]:
def show_playlists_table():
    db = client["Youtube_data"]
    coll1 =db["channel_details"]
    pl_list = []
    for pl_data in coll1.find({},{"_id":0,"playlist_information":1}):
        for i in range(len(pl_data["playlist_information"])):
                pl_list.append(pl_data["playlist_information"][i])
    playlists_table = st.dataframe(pl_list)
    return playlists_table

In [305]:
def show_videos_table():
    vi_list = []
    db = client["Youtube_data"]
    coll2 = db["channel_details"]
    for vi_data in coll2.find({},{"_id":0,"video_information":1}):
        for i in range(len(vi_data["video_information"])):
            vi_list.append(vi_data["video_information"][i])
    videos_table = st.dataframe(vi_list)
    return videos_table

In [306]:
def show_comments_table():
    com_list = []
    db = client["Youtube_data"]
    coll3 = db["channel_details"]
    for com_data in coll3.find({},{"_id":0,"comment_information":1}):
        for i in range(len(com_data["comment_information"])):
            com_list.append(com_data["comment_information"][i])
    comments_table = st.dataframe(com_list)
    return comments_table

In [307]:
with st.sidebar:
    st.title(":blue[YOUTUBE DATA HARVESTING AND WAREHOUSING]")
    st.header("SKILL TAKE AWAY")
    st.caption('Python scripting')
    st.caption("Data Collection")
    st.caption("MongoDB")
    st.caption("API Integration")
    st.caption(" Data Managment using MongoDB and SQL")
    
channel_id = st.text_input("Enter the Channel id")
channels = channel_id.split(',')
channels = [ch.strip() for ch in channels if ch]

if st.button("Collect and Store data"):
    for channel in channels:
        ch_ids = []
        db = client["Youtube_data"]
        coll1 = db["channel_details"]
        for ch_data in coll1.find({},{"_id":0,"channel_information":1}):
            ch_ids.append(ch_data["channel_information"]["Channel_Id"])
        if channel in ch_ids:
            st.success("Channel details of the given channel id: " + channel + " already exists")
        else:
            output = channel_details(channel)
            st.success(output)
            
if st.button("Migrate to SQL"):
    display = tables()
    st.success(display)
    
show_table = st.radio("SELECT THE TABLE FOR VIEW",(":green[channels]",":orange[playlists]",":red[videos]",":blue[comments]"))

if show_table == ":green[channels]":
    show_channels_table()
elif show_table == ":orange[playlists]":
    show_playlists_table()
elif show_table ==":red[videos]":
    show_videos_table()
elif show_table == ":blue[comments]":
    show_comments_table()

In [308]:
mydb = psycopg2.connect(host="localhost",
            user="postgres",
            password="nithya",
            database= "youtube_data",
            port = "5432"
            )
cursor = mydb.cursor()

query1 = "select Title as videos, Channel_Name as ChannelName from videos;"
cursor.execute(query1)
mydb.commit()
t1=cursor.fetchall()
st.write(pd.DataFrame(t1, columns=["Video Title","Channel Name"]))

In [309]:
mydb = psycopg2.connect(host="localhost",
            user="postgres",
            password="nithya",
            database= "youtube_data",
            port = "5432"
            )
cursor = mydb.cursor()

query2 = "select Channel_Name as ChannelName, Total_vedio as NO_Videos from channels order by Total_vedio desc;"
cursor.execute(query2)
mydb.commit()
t2=cursor.fetchall()
st.write(pd.DataFrame(t2, columns=["Channel Name","No Of Videos"]))

In [310]:
mydb = psycopg2.connect(host="localhost",
            user="postgres",
            password="nithya",
            database= "youtube_data",
            port = "5432"
            )
cursor = mydb.cursor()
query3 = '''select Views as views , Channel_Name as ChannelName,Title as VideoTitle from videos 
                    where Views is not null order by Views desc limit 10;'''
cursor.execute(query3)
mydb.commit()
t3 = cursor.fetchall()
st.write(pd.DataFrame(t3, columns = ["views","channel Name","video title"]))

In [311]:
mydb = psycopg2.connect(host="localhost",
            user="postgres",
            password="nithya",
            database= "youtube_data",
            port = "5432"
            )
cursor = mydb.cursor()

query4 = "select Comments as No_comments ,Title as VideoTitle from videos where Comments is not null;"
cursor.execute(query4)
mydb.commit()
t4=cursor.fetchall()
st.write(pd.DataFrame(t4, columns=["No Of Comments", "Video Title"]))

In [312]:
mydb = psycopg2.connect(host="localhost",
            user="postgres",
            password="nithya",
            database= "youtube_data",
            port = "5432"
            )
cursor = mydb.cursor()

query5 = '''select Title as VideoTitle, Channel_Name as ChannelName, Likes as LikesCount from videos 
                       where Likes is not null order by Likes desc;'''
cursor.execute(query5)
mydb.commit()
t5 = cursor.fetchall()
st.write(pd.DataFrame(t5, columns=["video Title","channel Name","like count"]))

In [313]:
mydb = psycopg2.connect(host="localhost",
            user="postgres",
            password="nithya",
            database= "youtube_data",
            port = "5432"
            )
cursor = mydb.cursor()

query6 = '''select Likes as likeCount,Title as VideoTitle from videos;'''
cursor.execute(query6)
mydb.commit()
t6 = cursor.fetchall()
st.write(pd.DataFrame(t6, columns=["like count","video title"]))

In [314]:
mydb = psycopg2.connect(host="localhost",
            user="postgres",
            password="nithya",
            database= "youtube_data",
            port = "5432"
            )
cursor = mydb.cursor()

query7 = "select Channel_Name as ChannelName, Views as Channelviews from channels;"
cursor.execute(query7)
mydb.commit()
t7=cursor.fetchall()
st.write(pd.DataFrame(t7, columns=["channel name","total views"]))

In [315]:
mydb = psycopg2.connect(host="localhost",
            user="postgres",
            password="nithya",
            database= "youtube_data",
            port = "5432"
            )
cursor = mydb.cursor()

query8 = '''select Title as Video_Title, Published_Date as VideoRelease, Channel_Name as ChannelName from videos 
                where extract(year from Published_Date) = 2022;'''
cursor.execute(query8)
mydb.commit()
t8=cursor.fetchall()
st.write(pd.DataFrame(t8,columns=["Name", "Video Publised On", "ChannelName"]))

In [316]:
mydb = psycopg2.connect(host="localhost",
            user="postgres",
            password="nithya",
            database= "youtube_data",
            port = "5432"
            )
cursor = mydb.cursor()

query9 =  "SELECT Channel_Name as ChannelName, AVG(Duration) AS average_duration FROM videos GROUP BY Channel_Name;"
cursor.execute(query9)
mydb.commit()
t9=cursor.fetchall()
t9 = pd.DataFrame(t9, columns=['ChannelTitle', 'Average Duration'])
T9=[]
for index, row in t9.iterrows():
    channel_title = row['ChannelTitle']
    average_duration = row['Average Duration']
    average_duration_str = str(average_duration)
    T9.append({"Channel Title": channel_title ,  "Average Duration": average_duration_str})
st.write(pd.DataFrame(T9))

In [317]:
mydb = psycopg2.connect(host="localhost",
            user="postgres",
            password="nithya",
            database= "youtube_data",
            port = "5432"
            )
cursor = mydb.cursor()

query10 = '''select Title as VideoTitle, Channel_Name as ChannelName, Comments as Comments from videos 
                       where Comments is not null order by Comments desc;'''
cursor.execute(query10)
mydb.commit()
t10=cursor.fetchall()
st.write(pd.DataFrame(t10, columns=['Video Title', 'Channel Name', 'NO Of Comments']))

In [318]:
#SQL connection
mydb = psycopg2.connect(host="localhost",
            user="postgres",
            password="nithya",
            database= "youtube_data",
            port = "5432"
            )
cursor = mydb.cursor()
    
question = st.selectbox(
    'Please Select Your Question',
    ('1. All the videos and the Channel Name',
     '2. Channels with most number of videos',
     '3. 10 most viewed videos',
     '4. Comments in each video',
     '5. Videos with highest likes',
     '6. likes of all videos',
     '7. views of each channel',
     '8. videos published in the year 2022',
     '9. average duration of all videos in each channel',
     '10. videos with highest number of comments'))

     
if question == '1. All the videos and the Channel Name':
    query1 = "select Title as videos, Channel_Name as ChannelName from videos;"
    cursor.execute(query1)
    mydb.commit()
    t1=cursor.fetchall()
    st.write(pd.DataFrame(t1, columns=["Video Title","Channel Name"]))

elif question == '2. Channels with most number of videos':
    query2 = "select Channel_Name as ChannelName, Total_vedio as NO_Videos from channels order by Total_vedio desc;"
    cursor.execute(query2)
    mydb.commit()
    t2=cursor.fetchall()
    st.write(pd.DataFrame(t2, columns=["Channel Name","No Of Videos"]))

elif question == '3. 10 most viewed videos':
    query3 = '''select Views as views , Channel_Name as ChannelName,Title as VideoTitle from videos 
                        where Views is not null order by Views desc limit 10;'''
    cursor.execute(query3)
    mydb.commit()
    t3 = cursor.fetchall()
    st.write(pd.DataFrame(t3, columns = ["views","channel Name","video title"]))

elif question == '4. Comments in each video':
    query4 = "select Comments as No_comments ,Title as VideoTitle from videos where Comments is not null;"
    cursor.execute(query4)
    mydb.commit()
    t4=cursor.fetchall()
    st.write(pd.DataFrame(t4, columns=["No Of Comments", "Video Title"]))

elif question == '5. Videos with highest likes':
    query5 = '''select Title as VideoTitle, Channel_Name as ChannelName, Likes as LikesCount from videos 
                       where Likes is not null order by Likes desc;'''
    cursor.execute(query5)
    mydb.commit()
    t5 = cursor.fetchall()
    st.write(pd.DataFrame(t5, columns=["video Title","channel Name","like count"]))

elif question == '6. likes of all videos':
    query6 = '''select Likes as likeCount,Title as VideoTitle from videos;'''
    cursor.execute(query6)
    mydb.commit()
    t6 = cursor.fetchall()
    st.write(pd.DataFrame(t6, columns=["like count","video title"]))

elif question == '7. views of each channel':
    query7 = "select Channel_Name as ChannelName, Views as Channelviews from channels;"
    cursor.execute(query7)
    mydb.commit()
    t7=cursor.fetchall()
    st.write(pd.DataFrame(t7, columns=["channel name","total views"]))

elif question == '8. videos published in the year 2022':
    query8 = '''select Title as Video_Title, Published_Date as VideoRelease, Channel_Name as ChannelName from videos 
                where extract(year from Published_Date) = 2022;'''
    cursor.execute(query8)
    mydb.commit()
    t8=cursor.fetchall()
    st.write(pd.DataFrame(t8,columns=["Name", "Video Publised On", "ChannelName"]))

elif question == '9. average duration of all videos in each channel':
    query9 =  "SELECT Channel_Name as ChannelName, AVG(Duration) AS average_duration FROM videos GROUP BY Channel_Name;"
    cursor.execute(query9)
    mydb.commit()
    t9=cursor.fetchall()
    t9 = pd.DataFrame(t9, columns=['ChannelTitle', 'Average Duration'])
    T9=[]
    for index, row in t9.iterrows():
        channel_title = row['ChannelTitle']
        average_duration = row['Average Duration']
        average_duration_str = str(average_duration)
        T9.append({"Channel Title": channel_title ,  "Average Duration": average_duration_str})
    st.write(pd.DataFrame(T9))

elif question == '10. videos with highest number of comments':
    query10 = '''select Title as VideoTitle, Channel_Name as ChannelName, Comments as Comments from videos 
                       where Comments is not null order by Comments desc;'''
    cursor.execute(query10)
    mydb.commit()
    t10=cursor.fetchall()
    st.write(pd.DataFrame(t10, columns=['Video Title', 'Channel Name', 'NO Of Comments']))